body{
    background: #282923;
    font-family: arial;
}
.container{
    width: 950px;
    background: white;
    margin: auto;
    border-radius: 20px;
}
.header img{
margin-top: 20px;
}
.top{
margin-top: 30px;
}
.menu{
    padding-top: 25px;
    float: right;
}
.menu li{
display: inline;
 padding-top: 20px;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.menu a:hover{
    background: #BE3B45;
}
.col{
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px;
}
.col h2{
    color: #BE3B45;
}
.row{
    text-align: center;
}
.footer{
    overflow: hidden;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer span{
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}